.form {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;

}

.form__legend {
    margin: 0 auto;
}

.form__labelText {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.form__input {
    width: 150px;
}

.form__button {
    border-radius: 10px;
    max-width: 300px;
    background-color: hsl(15, 72%, 75%);
}

.form__button:hover {
    background-color: hsl(15, 72%, 80%);

}